.activities__body {
  text-align: left;
  & h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  & ul {
    margin-bottom: 30px;
    margin-left: 20px;
    & li {
      list-style-type: disc;
    }
  }
}
