.card__item {
  width: 300px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(34, 60, 80, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .card__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  & .card__subtitle {
    padding: 5px 10px;
    flex: 1 1 auto;
  }

  & .card__img {
    width: 250px;
    height: 230px;
    padding-bottom: 20px;
    overflow: hidden;
    @media screen and (max-width: 575.98px) {
      width: 100%;
      height: 100%;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  & .card__size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 278px;

    & .card__size-input {
      height: 35px;
      max-width: 190px;
      border: 1px solid rgba(4, 120, 179, 0.5);
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }

    & .card__size-plus, .card__size-minus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      color: #0478b3;
      border: 1px solid rgba(4, 120, 179, 0.5);
      border-radius: 5px;
      cursor: pointer;
      transition: all .1s ease-in;
      user-select: none;
      @media screen and (min-width: 978.98px) {
        &:hover {
          color: #fff;
          background-color: #0478b3;
        }
        &:active {
          font-size: 25px;
        }
      }
    }

    & .card__size-plus {
      margin-left: 8px;
      &::before {
        content: '+';
        transform: translate(0, -1px);
      }
    }

    & .card__size-minus {
      margin-right: 8px;
      &::before {
        content: '-';
        transform: translate(0, -1px);
      }
    }
  }

  & .card__button {
    width: 100%;
    margin-bottom: 5px;
  }
}
