.oil__charts {
  & .oil__charts-h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
    @media screen and (max-width: 767.98px) {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
  & .oil__charts-text {
    margin-bottom: 30px;
    text-align: left;
    font-size: 1rem;
    @media screen and (max-width: 767.98px) {
      font-size: 14px;
    }
    & .oil__charts-ton {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        background-color: #0478b3;
        width: 50px;
        height: 2px;
        display: inline-block;
      }
    }
    & .oil__charts-plan {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        background-color: #656565;
        width: 50px;
        height: 2px;
        display: inline-block;
      }
    }
  }
}

