.shop {
  margin-bottom: 10px;
  & h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    @media screen and (max-width: 767.98px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
}
