*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  color: #455a64;
  background-color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html, body, #root {
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main, .main {
  flex: 1 1 auto;
  text-align: center;
}

header, footer {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  @media screen and (max-width: 1100px) {
    padding: 0 10px;
  }
}

.root__link {
  color: #0478b3;
  font-weight: bold;
  cursor: pointer;
}

.root__title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  @media screen and (max-width: 767.98px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

